$sg-green: #a0ce67;
$sg-grey: #978991;

$sg-brown: #695e4a;
$sg-light-grey: #aea8a3;
$sg-yellow: #EAD766;
$highlight-color:#fff;
$hover: $sg-green;
$twitter: #4099FF;
$header-bg:$sg-grey;
$text:$sg-grey;

//irrelevant
$red: #f6431a;
$red: #f36c3d;
$green:#a3d06d;

$blue:#7ac0e4;
$dark-blue:#4e555d;
$blue-grey:#b3c1c6;
$blue-grey2:#a4a9ab;
$light-blue:#d8e9f5;
$light-blue2:#92b5c3;

$yellow:#f8e121;
$light-yellow:#fffce0;

$grey:#b5b0b0;
$lighter-grey:#dfdbdb;
$lightest-grey:#e7eff2;
$dark-grey:#4a4444;

$medium-text:$blue-grey2;

$light-text:$sg-light-grey;
$lighter-text:$lightest-grey;
$border-color:$sg-grey;

