  .about-info{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      h1{
    font-size: 1.25em;
    font-weight: bold;
    color: $sg-green;
      }
      a.twitter{
        color: $twitter;
          &:hover{
            color: $dark-grey;
          }
      }
      a.email{
        color: $dark-grey;
        &:hover{
          color: $hover;
        }
      }


  }
