/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.top-row{ @include span-columns(12); }
// .logo-box{ @include span-columns(3 of 12);}
// .tagline-box{ @include span-columns(5 of 12); }
// .site-nav-box{ @include span-columns(3 of 12); }

.top-row-left{ @include span-columns(8 of 12);}
.top-row-right{
	@include span-columns(4 of 12);
	margin-top: 24px;
	float:right;
}
.second-row{@include span-columns(12);}
.left-second-row{@include span-columns(10 of 12);}
.right-second-row{@include span-columns(2 of 12);}

.header{
	//@include outer-container;
	background:$highlight-color url("") top center;
	background-color:$highlight-color;
	margin-bottom:$grid-margin;
	//height:$grid-unit;
	position:relative;
	@include cf;
	@include border-radius(0 0 3px 3px);
	//@include box-shadow(0 1px 1px black(1));
	.logo{
		float:left;
		display:inline-block;
		text-align:center;
		top:10px;
		left:0px;
		color:$sg-grey;
		font-size:30px;
		z-index:10;
		a, a:visited{
			color:$sg-grey;
		}
		a, a:hover{ color:$sg-green;}
		&.image{
			left: 0px;
			display: inline-block;
			float:left;
			border-bottom: 10px;
			height: $logo-height;
			margin-top: 1px;	
		}
	}
	.tagline{
		text-transform: lowercase;
		color: $sg-grey;
		position:relative;
		font-size: 20px;
		line-height:40%;
  		padding-left: 10px;
	}
	.site-nav{
		float:right;
		z-index:20;
	}
	.user-nav{
		float:right;
		z-index:10;
		.center{

		}
		.submit{
			 background:$sg-green;
			 //margin-top: 6.5px;
		}
		.auth-buttons{
		position:relative;
		z-index:20;
		float:right;
			.user-avatar{
					@include border-radius(100px);
					overflow:hidden;
					// line-height: 40px;
					height:40px;
					width:40px;
					display:inline-block;
				}
	#login-buttons-twitter { 
		background: $twitter;
		border-color: $twitter;
		&:hover{
			background: $sg-green;
			border-color: $sg-green;
			}}
	#login-buttons{
		position:relative;
		line-height:26px;
		.accounts-dialog{
			@extend .popover;
		}
		.account-link{
			display:block;
			color:white !important;
			margin-bottom:10px;
			float:none;
		}
		a{
			text-decoration:none;
			color:$text;
		}
		a.login-link-text{
			color:$text;
			font-weight:normal;
			display:inline-block;
			height:26px;
		}
		#login-buttons-password{
			@extend .button;
			float:none !important;
			@include text-shadow(none);
			width:auto;
			line-height:1.5;
			height:26px;
			margin:10px 0 !important;
		}
		.login-header{
			font-family:inherit;
			height:26px;
			//margin-right:10px;
			cursor:pointer;
			color:$text;
			&:before{
				color:white(0.5);
				content:"Welcome, ";
			}
		}
		#login-buttons-logout{
			color:white;
			// background:none;
			border:none;
			font-size:16px;
			padding:0;
			height:26px;
			text-shadow:none;
			background-color: $sg-green;
		}
	}
}
	}
}

.nav{
	@include cf;
	//margin-top:20px;
	>li{
		@include horizontal-list-item;
		margin-right:10px;

		>a{
			color:$text;
			font-size:16px;
			line-height:26px;
			height:26px;
			font-weight:normal;

			&.intercom em{
				&:before{
					content:'(';
				}
				&:after{
					content:')';
				}
			}
		}
	}
}
.search-box{

}
.search{
	margin-top:3px;
	float:right;
	position: relative;
	margin-right:2px;
	.search-field{
		display:inline-block;
		position:relative;
		font-size: 16px;
		padding: 2px;
		line-height: 1.3;
		border: 2px solid $sg-grey;
		width: auto;
		-webkit-transition: 0.2s all;
		-moz-transition: 0.2s all;
		background-color: transparent;
		@include border-radius(3px);
		&:focus{
			outline-color: $sg-green;
			color: $sg-green;
		}
	}
	&.empty{
		.search-field{
			background: white(0.1);
			&:focus{
				background: white;
			}
		}
		.search-clear{
			display: none;
		}
	}
}
.MailChimpListSubscribe{
	margin: 0;
	height:auto;
	padding-bottom: 2%;	
	.sub-content{
		background:#eee;
		@include border-radius(3px);
		padding-left: 2%;
		padding-right: 2%;
		display:inline-block;
		width:auto;
		color:white;
		line-height:50px;
		font-size:16px;
		
		.message{
			text-align:left;
			display:inline-block;
			text-transform: bold;
			color: $dark-grey;
			&:hover{
				color: $sg-green;
			}
		}
		.email-input{
			display:inline-block;
			position:relative;
			font-size: 16px;
			padding: 2px;
			line-height: 1.3;
			border: 2px solid $sg-grey;
			width: auto;
			-webkit-transition: 0.2s all;
			-moz-transition: 0.2s all;
			background-color: white;
			@include border-radius(3px);
			&:focus{
				outline-color: $sg-green;
				color: $sg-green;
			}
		}
		.email-submit{
			display:inline;
			position:relative;
			padding: 2px;
			line-height: 1.3;
			}
		}
		
	}


