<template name="posts_digest">
  <div class="grid">
{{#each days}}   
  {{#if hasPosts}}
  <div class="grid-block">
  <div class="day-display"><span class="date-day">{{today}}</span>{{day}}</div> 
    <!-- <div class="posts grid list"> -->
      {{#each dayposts}}
        {{> post_item}}
      {{/each}}
    <!-- </div> -->
    </div>
  {{else}}
    <!-- <div class="grid-small grid-block dialog">
      <p>{{i18n "Sorry, no posts for today"}}.</p>
    </div> -->
  {{/if}}
{{/each}}
</div>

</template>
