<template name="about">

  <div class="about-info">
    <h1>What is SproutGuild?</h1>
    <br>
    <p>
      We’re product people.  We’re also foodies, organic enthusiasts, fighters for local brands, and mavens.  We like new things.  We like being on the cutting edge and telling others when we find something we like.
    </p>
    <br>
    <p>
      That’s what Sprout Guild is.
    </p>
    <br>
    <p>
      It’s daily discovery of the hippest new natural foods, products and brands. 
    </p>
    <br>
    <p>
      It makes it easy for you to stay on top of the coolest new natural products.  When you sign up, you’ll receive a curated list of products selected by one of Sprout Guild’s Founding Contributors.
    </p>
    <br>
    <p>
      So what are you waiting for?!  Sign up and come see what’s sprouting. 
    </p>

  </div>
  <br>

  <div class="about-info">
    <h1>Contact Us!</h1>
    <br>
       <p>
          If you're bird-friendly, you can follow us on Twitter <a class="twitter" href="https://twitter.com/sproutguild">@sproutguild</a>
      </p>
    <br>
      <p>
        And we love hearing from people. We like people. Email us with feedback or questions! <a class="email" href="mailto:luke@sproutguild.com">luke [at] sproutguild.com</a>
      </p>
    <br>
      <p>
        Want your company's product posted on Sprout Guild? The best way to do that is to get the attention of one of our contributors on Twitter. Hope to see you on the Guild soon!
      </p>
  </div>
</template>