<template name="about">

  <div class="about-info">
    <h1>What is SproutGuild?</h1>
    <br>
    <p>
      We’re product people.  We’re also foodies, organic enthusiasts, fighters for local brands, and mavens.  We like new things.  We like being on the cutting edge and telling others when we find something we like.
    </p>
    <br>
    <p>
      That’s what Sprout Guild is.
    </p>
    <br>
    <p>
      It’s daily discovery of the hippest new natural foods, products and brands. 
    </p>
    <br>
    <p>
      It makes it easy for you to stay on top of the coolest new natural products.
    </p>

  </div>
  <br>



  <div class="about-info">
    <h1>How it Works</h1>
    <br>
      <p>
        When you sign up, you’ll receive an email no more than once per day with a curated list of the hippest new products selected by one of Sprout Guild’s Founding Contributors.
      </p>
    <br>
      <p>
        <b>So what are you waiting</b> for?! Sign up and come see what’s sprouting.
      </p>
    <br>
      <p>
        <span class="bold">How do I sign up?</span>  It’s as easy as organic pie!  Just enter your email address in the field above.  Or, click the “Sign In” link on the top right of this website.  
      </p>
    <br>
      <p> 
        <span class="bold">Who are the Founding Contributors? </span>Great question!  They are natural product enthusiasts, industry influencers, and finders of cool things. 
      </p>
    <br>
      <p>
        <span class="bold">How do I become a Contributor?  </span>We like your ambition!  First, join the Guild as a member.  Second, begin engaging (up-voting, commenting, perusing, dreaming of products, etc.).  Third, email <a class="email" href="mailto:luke@sproutguild.com">luke [at] sproutguild [dot] com</a> and tell us why you would be a superstar contributor.  In the email, include your Twitter handle, a link to your LinkedIn profile, and where you live.  We’ll get back to you, we promise!
      </p>
    <br>
      <p>
        <span class="bold">What is the up arrow and number next to the posts?  </span>Well, fellow Sprouter, that arrow is a way for you to “up-vote” a product.  To give it props.  If you like a product or agree with the contributor, click the up arrow.  You’ll notice that the number below the arrow increases.  But wait, you can only up-vote if you are a member of the Guild.  <a class="email" href="/signup">So sign up now!</a>
      </p>
    <br>
      <p>
        <span class="bold">Can I comment on products?  </span>Absolut-a-mently!  Click the green “Comments” link next to the post.  Members of the Guild can comment and engage in discussion (often times with the brands themselves who sometimes camp out in the comments pages!).  So what are you waiting for, join the Guild!
      </p>
    <br>
      <p>
        <span class="bold">How do I get my company’s products listed on Sprout Guild?  </span>Combine a touch of oregano, a pinch of salt, and two squeezes of lemon… and it would also help if you got the attention of one of the Contributors via Twitter.  Track them down like the bird dog you are!  Hope to see you on the Guild soon!
      </p>
  </div>
  <br>

  <div class="about-info">
    <h1>Contact Us!</h1>
    <br>
       <p>
          If you're bird-friendly, you can follow us on Twitter <a class="twitter" href="https://twitter.com/sproutguild">@sproutguild</a>
      </p>
    <br>
      <p>
        And we love hearing from people. We like people. Email us with feedback or questions! <a class="email" href="mailto:luke@sproutguild.com">luke [at] sproutguild [dot] com</a>
      </p>
  </div>
  <br>
</template>